.App {
  font-family: sans-serif;
  text-align: center;
}

.poke-card-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.watermark {
  opacity: 0.2;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.watermark img {
  width: 800px;
  height: 800px;
}

.centered-content {
  margin-bottom: 90px;
  margin-top: 102px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
